<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editar Empleado</title>
    <link rel="stylesheet" href="/css/formularioEmpleado.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <section class="container">
        <header>Editar Información del Empleado</header>


        <form id="form" action="/actualizarEmpleado" method="post" class="form">

            <input type="hidden" name="identificacionOriginal" th:value="${empleado.identificacionE}"/>

            <input type="number" name="idRolE" value="2" hidden required>    

            <div class="input-box">
                <label>Identificación</label>
                <input type="number" name="identificacionE" th:value="${empleado.identificacionE}" placeholder="Ingresa tu identificación" inputmode="numeric" required>    
            </div>

            <div class="column">
                <div class="input-box">
                    <label>Nombre</label>
                    <input type="text" name="nombreE" th:value="${empleado.nombreE}" placeholder="Nombre Empleado" pattern="^[a-zA-Z]+$" title="No se admiten espacios en blancos ni caracteres especiales" required>
                </div>

                <div class="input-box">
                    <label>Apellido</label>
                    <input type="text" name="apellidoE" th:value="${empleado.apellidoE}" placeholder="Apellido Empleado" pattern="^[a-zA-Z]+$" title="No se admiten espacios en blancos ni caracteres especiales" required>
                </div>
            </div>

            <div class="column">
                <div class="input-box">
                    <label>Número Telefónico</label>
                    <input type="text" name="TelefonoE" th:value="${empleado.telefonoE}" placeholder="Número de Empleado" inputmode="numeric" pattern="[0-9]{10}" title="Por favor, ingresa un número de teléfono de 10 dígitos" required>
                </div>

                <div class="input-box">
                    <label>Correo Electrónico</label>
                    <input type="email" name="emailE" th:value="${empleado.emailE}" placeholder="Email Empleado" required>
                </div>
            </div>

            <div class="column">
                <div class="input-box">
                    <label>Dirección</label>
                    <input type="text" name="direccionE" th:value="${empleado.direccionE}" placeholder="Dirección Empleado" required>
                </div>

                <div class="input-box">
                    <label>Grupo Sanguíneo</label>
                    <div class="select-box">
                        <select name="rhE" required>
                            <option hidden value="">Rh Empleado</option>
                            <option value="A+" th:selected="${empleado.rhE == 'A+'}">A+</option>
                            <option value="O+" th:selected="${empleado.rhE == 'O+'}">O+</option>
                            <option value="B+" th:selected="${empleado.rhE == 'B+'}">B+</option>
                            <option value="AB+" th:selected="${empleado.rhE == 'AB+'}">AB+</option>
                            <option value="A-" th:selected="${empleado.rhE == 'A-'}">A-</option>
                            <option value="O-" th:selected="${empleado.rhE == 'O-'}">O-</option>
                            <option value="B-" th:selected="${empleado.rhE == 'B-'}">B-</option>
                            <option value="AB-" th:selected="${empleado.rhE == 'AB-'}">AB-</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="input-box">
                    <label>Contraseña</label>
                    <input type="password" name="passwordE" th:value="${empleado.passwordE}" placeholder="Contraseña Empleado" required
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{7,15}$"
                        title="La contraseña debe contener al menos una mayúscula, una minúscula, un número y tener una longitud de 7 a 15 caracteres" />
                </div>
            </div>

            <button type="submit">Guardar</button>
        </form>
    </section>
</body>
</html>
